<h1 id="heading" class="mt-3">Form Field</h1>


<div class="container">
    <div class="row">

        <!-- add hideRequiredMarker used  in mat-form-field for hide required -->

        <!-- floatLabel = always => always show upper -->
        <div class="col-md-5">
            <h3>floatLabel : always</h3>
            <mat-form-field class="example-full-width" floatLabel="always">
                <mat-label>Name</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <!-- floatLabel => auto => work auto  -->
        <div class="col-md-5">
            <h3>floatLabel : auto</h3>
            <mat-form-field class="example-full-width" floatLabel="auto">
                <mat-label>Name</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <!-- floatLabel => never => hide when enter outer click -->
        <div class="col-md-5">
            <h3>floatLabel : never</h3>
            <mat-form-field class="example-full-width" floatLabel="never">
                <mat-label>Name</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>


         <!--  appearance = fill => fill background -->
         <div class="col-md-6">
            <h3>appearance : fill => fill background</h3>
            <mat-form-field class="example-full-width" appearance='fill'>
                <mat-label>Name</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <!-- appearance = standard => standard display  -->
        <div class="col-md-6">
            <h3>appearance : standard => standard display</h3>
            <mat-form-field class="example-full-width" appearance='standard'>
                <mat-label>Name</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <!--  appearance => outline => outline of input text -->
        <div class="col-md-6">
            <h3>appearance : outline => outline of input text</h3>
            <mat-form-field class="example-full-width" appearance='outline'>
                <mat-label>Name</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

        <!-- appearance = legacy => older than standard -->
        <div class="col-md-6">
            <h3>appearance : legacy => older than standard</h3>
            <mat-form-field class="example-full-width" appearance='legacy'>
                <mat-label>Name</mat-label>
                <input matInput type="text" required>
            </mat-form-field>
        </div>

         <!-- error show instancly -->
         <div class="col-md-6">
            <h3>Instance error msg show</h3>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input type="email" matInput [formControl]="emailControl" [errorStateMatcher]="matcher"
                    placeholder="Ex. pat@example.com">
                <mat-hint>Errors appear instantly!</mat-hint>

                <!-- error -->
                <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
                    Please enter a valid email address
                </mat-error>
                <mat-error *ngIf="emailControl.hasError('required')">
                    Email is <strong>required</strong>
                </mat-error>

            </mat-form-field>


             <!-- disabled -->
  <div class="cls">           
        <div class="col-md-4">
            <h3>disabled input field</h3>
            <mat-form-field class="example-full-width">
                <mat-label>Company (disabled)</mat-label>
                <input matInput disabled value="Google">
            </mat-form-field>
        </div>

         <!-- textarea -->
         <div class="col-md-4  ">
            <h3>simple textarea</h3>
            <mat-form-field class="example-full-width">
                <mat-label>Leave a comment</mat-label>
                <textarea matInput placeholder="Ex. Enter Message ..."></textarea>
            </mat-form-field>
        </div>

         <!-- drop down -->
         <div class="col-md-4 ">
            <h3>Dropdown Menu</h3>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label><mat-icon>power_settings_new</mat-icon> Select me</mat-label>
                <mat-select>
                    <mat-option value="option1">Option 1</mat-option>
                    <mat-option value="option2">Option 2</mat-option>
                    <mat-option value="option3">Option 3</mat-option>
                </mat-select>
                <mat-hint>lable with Icon</mat-hint>
            </mat-form-field>
        </div>

        <!-- password -->
        <div class="col-md-4">
            <h3>Password</h3>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>

        <!-- enter suffix -->
        <div class="col-md-4">
            <h3>Enter at end</h3>
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Amount</mat-label>
                <input matInput type="number" class="example-right-align">
                <span matPrefix>$&nbsp;</span>
                <span matSuffix>.00</span>
            </mat-form-field>
        </div>
      <!-- size changes -->
      <div class="col-md-4">
        <h3>Size Changes</h3>
        <mat-form-field class="example-full-width" appearance="fill" [style.fontSize.px]="getFontSize()">
            <mat-label>Font size</mat-label>
            <input matInput type="number" placeholder="Ex. 12" [formControl]="fontSizeControl" min="10">
            <span matSuffix>px</span>
            <mat-error *ngIf="fontSizeControl.invalid">Min size: 10px</mat-error>
        </mat-form-field>
    </div>
 
      </div>        
   </div>
 </div>

