<p>Demo Application</p>
<!-- <table>
    <thead>
        <tr>
            <th>ID</th>
            <th> Name</th>
            <th>Year</th>
            <th>Color</th>
            <th>pantone_value</th>
            
        </tr>
    </thead>
    <tbody>
          <tr *ngFor='let _userArray of _userArray'>
            <td>{{_userArray.id}}</td>
            <td>{{_userArray.name}}</td>
            <td>{{_userArray.year}}</td>
            <td>{{_userArray.color}}</td>
            <td>{{_userArray.pantone_value}}</td>
          
        </tr> 
      
       
    </tbody>
</table> -->
<router-outlet></router-outlet>

