<p>guard works!</p>

<div class="topnav">
    <a class="active" href="">HARSH</a>
    
            <a [routerLink]="['home']" routerLinkActive="active">Home</a>
        
      
            <a [routerLink]="['admin']" routerLinkActive="active">Admin</a>

            <a [routerLink]="['merchant']" routerLinkActive="active">Merchant</a>

            <a [routerLink]="['customer']" routerLinkActive="active">customer</a>
      
      
              
  </div>
    <div>
    <h3> 
 <router-outlet></router-outlet>
 </h3>
 </div>    