<nav class="navbar navbar-expand-lg navbar-dark bg-dark container mt-3">

    <a class="navbar-brand" routerLink=''>Angular Material</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
        
        <ul class="navbar-nav">
           
            <li class="nav-item">
                <a class="nav-link"  routerLinkActive='active' routerLink='/badge' [routerLinkActiveOptions]='{ exact: true }'>Badge</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive='active'  routerLink='/btn' [routerLinkActiveOptions]='{ exact: true }'>Button</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLinkActive='active' routerLink='/btn-togl' [routerLinkActiveOptions]='{ exact: true }'>Button Toggle</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLinkActive='active'  routerLink='/progrssspin' [routerLinkActiveOptions]='{ exact: true }'>Progres Spinner</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLinkActive='active'  routerLink='/card' [routerLinkActiveOptions]='{ exact: true }'>card</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLinkActive='active'  routerLink='/grid' [routerLinkActiveOptions]='{ exact: true }'>Grid list</a>
            </li>
            <li class="nav-item">
                <a class="nav-link"  routerLinkActive='active'  routerLink='/field' [routerLinkActiveOptions]='{ exact: true }'>Form Field</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive='active' routerLink='/tabs' [routerLinkActiveOptions]='{exact:true}'>Tabs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive='active' routerLink='/menu' [routerLinkActiveOptions]='{exact:true}'>Menu</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLinkActive='active' routerLink='/paginator' [routerLinkActiveOptions]='{exact:true}'>Paginator</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive='active' routerLink='/stepper' [routerLinkActiveOptions]='{exact:true}'>Stepper</a>
            </li>
          
        </ul>

    </div>
</nav>
