<h1 class="text-center">ANGULAR PWA DEMO</h1>



<!-- subcribe unsubscribe btn -->
<div class="d-flex justify-content-end container" id="btn">
  <button *ngIf="!isSubscribed" class="btn btn-danger btn-sm" (click)="showNotification()">Subscribe</button>
  <button *ngIf="isSubscribed" class="btn btn-danger btn-sm" (click)="showNotification()">Unsubscribe</button>
</div>

<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Email</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Iamge</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let emp of apiData">
        
        <td>{{emp.id}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.first_name}}</td>
        <td>{{emp.last_name}}</td>
        <td><img class="card-img-top" [src]='emp.avatar' alt="Card image cap"></td>
      </tr>
      
    </tbody>
  </table>
<router-outlet></router-outlet>
