<!-- title -->
<h5 class="container">Chilli Encryption Decryption App</h5>

<div class="container">
           <!-- card -->
    <div class="card">

        <!-- card header topic -->
        <div class="card-header">
            <h5>Encryption Decryption</h5>
        </div>

        <!-- card body -->
        <div class="card-body">

            <!-- input -->
            <label class="card-title">Enter Text</label>
            <input type="text" #text class="col-sm-4"  >

            <!-- encryption decryption button -->
            <button class="btn btn-danger btn-sm" (click)="encrypt(text.value)" type="button">Encrypt</button>&nbsp;
            <button class="btn btn-success btn-sm" (click)="decrypt(text.value)" type="button">Decrypt</button>
        </div>

        <!--  encrypted msg show  -->
        <div class="card-footer text-muted" *ngIf="msg">
            <h5 #tex>{{msg}}</h5>
            <button class="btn btn-info btn-sm" (click)="copy()">Copy</button>
        </div>
    </div>
</div>