<h1 id="heading" class="m-5">Card</h1>
<hr>

<div class="container">

    <mat-grid-list cols="2" rowHeight="2:2" >

        <mat-grid-tile>
            <!-- card 1 -->
            <mat-card class="example-card">



                <!-- header -->
                <mat-card-header>

                    <!-- avatar -->
                    <div mat-card-avatar class="example-header-image"></div>

                    <!-- title & subtitle -->
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>

                </mat-card-header>

                <!-- img -->
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">

                <!-- content -->
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>

                <!-- action -->
                <mat-card-actions>
                    <button mat-mini-fab color='warn' aria-label="Example icon button with a home icon">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button mat-mini-fab color='primary' aria-label="Example icon button with a home icon">
                        <mat-icon>share</mat-icon>
                    </button>
                </mat-card-actions>

            </mat-card>

        </mat-grid-tile>

        <mat-grid-tile>
            <!-- card 2 -->
            <mat-card class="example-card">



                <!-- header -->
                <mat-card-header>

                    <!-- avatar -->
                    <div mat-card-avatar class="example-header-image"></div>

                    <!-- title & subtitle -->
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>

                </mat-card-header>

                <!-- img -->
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">

                <!-- content -->
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>

                <!-- action -->
                <mat-card-actions>
                    <button mat-mini-fab color='warn' aria-label="Example icon button with a home icon">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button mat-mini-fab color='primary' aria-label="Example icon button with a home icon">
                        <mat-icon>share</mat-icon>
                    </button>
                </mat-card-actions>

            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <!-- card 3 -->
            <mat-card class="example-card mt-5" >



                <!-- header -->
                <mat-card-header>

                    <!-- avatar -->
                    <div mat-card-avatar class="example-header-image"></div>

                    <!-- title & subtitle -->
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>

                </mat-card-header>

                <!-- img -->
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">

                <!-- content -->
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>

                <!-- action -->
                <mat-card-actions>
                    <button mat-mini-fab color='warn' aria-label="Example icon button with a home icon">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button mat-mini-fab color='primary' aria-label="Example icon button with a home icon">
                        <mat-icon>share</mat-icon>
                    </button>
                </mat-card-actions>

            </mat-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <!-- card 4 -->
            <mat-card class="example-card mt-5">



                <!-- header -->
                <mat-card-header>

                    <!-- avatar -->
                    <div mat-card-avatar class="example-header-image"></div>

                    <!-- title & subtitle -->
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>

                </mat-card-header>

                <!-- img -->
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">

                <!-- content -->
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>

                <!-- action -->
                <mat-card-actions>
                    <button mat-mini-fab color='warn' aria-label="Example icon button with a home icon">
                        <mat-icon>favorite</mat-icon>
                    </button>
                    <button mat-mini-fab color='primary' aria-label="Example icon button with a home icon">
                        <mat-icon>share</mat-icon>
                    </button>
                </mat-card-actions>

            </mat-card>
        </mat-grid-tile>

    </mat-grid-list>
</div>