<p>list-product works!</p>

<body>
    

    <table class="table">
        <thead>
          <tr>
           
          
            <th scope="col">Category</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Price</th>
          </tr>
        </thead>
        <!-- <tbody *ngFor='let datam of this._data;let i = index'>
          <tr *ngFor='let data of datam'>-->
              
            <tbody>
                <tr>
            <!-- <th scope="row">{{i+1}}</th> -->
            <td>{{products.catagory}}</td>
            <td>{{products.product}}</td>
            <td>{{products.price}}</td>
            
          </tr>
          
         </tbody>
      </table>
    
    
    </body>