<p>list-product works!</p>

<body>
    

    <table class="table">
        <thead>
          <tr>
           
          
            <th scope="col">Category</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Price</th>
          </tr>
        </thead>
         <tbody *ngFor='let datam of products;let i = index'>

          <tr *ngFor='let data of datam'>
              
           
            <!-- <th scope="row">{{i+1}}</th> -->
            <td>{{data.catagory}}</td>
            <td>{{data.product}}</td>
            <td>{{data.price}}</td>
            
          </tr>
          
         </tbody>
      </table>
    
    
    </body>