<h1 style="text-align: center;" class="m-5">Menu</h1>
<hr>

<div class="container">
    <div class="row">

        <!-- Menu -->
        <div class="col-md-3">
            <h3>Menu</h3>
            <button mat-button [matMenuTriggerFor]="menu">Menu</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>Product 1</button>
                <button mat-menu-item>Product 2</button>
            </mat-menu>
        </div>


        <!-- menu with position -->
        <div class="col-md-6">
            <h3>Menu With Position</h3>

            <!--x position :  after before
                y position  : above below-->

            <button mat-raised-button [matMenuTriggerFor]="aboveMenu" color='accent' class="mr-3">Above</button>
            <mat-menu #aboveMenu="matMenu" yPosition="above">
                <button mat-menu-item>Product 1</button>
                <button mat-menu-item>Product 2</button>
            </mat-menu>

            <button mat-raised-button [matMenuTriggerFor]="belowMenu" color='primary' class="mr-3">Below</button>
            <mat-menu #belowMenu="matMenu" yPosition="below">
                <button mat-menu-item>Product 1</button>
                <button mat-menu-item>Product 2</button>
            </mat-menu>

            <button mat-raised-button [matMenuTriggerFor]="beforeMenu" color='warn' class="mr-3">Before</button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button mat-menu-item>Product 1</button>
                <button mat-menu-item>Product 2</button>
            </mat-menu>

            <button mat-raised-button [matMenuTriggerFor]="afterMenu">After</button>
            <mat-menu #afterMenu="matMenu" xPosition="after">
                <button mat-menu-item>Product 1</button>
                <button mat-menu-item>Product 2</button>
            </mat-menu>

        </div>

        <!-- menu with icon -->
        <div class="col-md-3">
            <h3>Menu with Icon</h3>

            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>

            <mat-menu #menu="matMenu">
                <button mat-menu-item>
                    <mat-icon>profile</mat-icon>
                    <span>Profile</span>
                </button>
                <button mat-menu-item disabled>
                    <mat-icon>settings</mat-icon>
                    <span>Settings</span>
                </button>
                <button mat-menu-item>
                    <mat-icon>end_app</mat-icon>
                    <span>Logout</span>
                </button>
            </mat-menu>

        </div>

        

        <!-- nested menu -->
        <div class="col-md-3 mt-2">
            <h3>Nested Menu</h3>

            <button mat-raised-button [matMenuTriggerFor]="animals" color='primary'>Animal index</button>
            <mat-menu #animals="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="vertebrates">Vertebrates</button>
                <button mat-menu-item [matMenuTriggerFor]="invertebrates">Invertebrates</button>
            </mat-menu>

            <mat-menu #vertebrates="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="fish">Fishes</button>
                <button mat-menu-item [matMenuTriggerFor]="amphibians">Amphibians</button>
                <button mat-menu-item [matMenuTriggerFor]="reptiles">Reptiles</button>
                <button mat-menu-item>Birds</button>
                <button mat-menu-item>Mammals</button>
            </mat-menu>

            <mat-menu #invertebrates="matMenu">
                <button mat-menu-item>Insects</button>
                <button mat-menu-item>Molluscs</button>
                <button mat-menu-item>Crustaceans</button>
                <button mat-menu-item>Corals</button>
                <button mat-menu-item>Arachnids</button>
                <button mat-menu-item>Velvet worms</button>
                <button mat-menu-item>Horseshoe crabs</button>
            </mat-menu>

            <mat-menu #fish="matMenu">
                <button mat-menu-item>Baikal oilfish</button>
                <button mat-menu-item>Bala shark</button>
                <button mat-menu-item>Ballan wrasse</button>
                <button mat-menu-item>Bamboo shark</button>
                <button mat-menu-item>Banded killifish</button>
            </mat-menu>

            <mat-menu #amphibians="matMenu">
                <button mat-menu-item>Sonoran desert toad</button>
                <button mat-menu-item>Western toad</button>
                <button mat-menu-item>Arroyo toad</button>
                <button mat-menu-item>Yosemite toad</button>
            </mat-menu>

            <mat-menu #reptiles="matMenu">
                <button mat-menu-item>Banded Day Gecko</button>
                <button mat-menu-item>Banded Gila Monster</button>
                <button mat-menu-item>Black Tree Monitor</button>
                <button mat-menu-item>Blue Spiny Lizard</button>
                <button mat-menu-item disabled>Velociraptor</button>
            </mat-menu>

        </div>

        <div class="col-md-3 mt-3">
            <h3>Pass Name</h3>

            <mat-menu #appMenu="matMenu">
                <ng-template matMenuContent let-name="name">
                    <button mat-menu-item>Settings</button>
                    <button mat-menu-item>Log off {{name}}</button>
                </ng-template>
            </mat-menu>

            <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{name: 'abc'}">
                <mat-icon>more_vert</mat-icon>
            </button>

            <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{name: 'xyz'}">
                <mat-icon>more_vert</mat-icon>
            </button>
        </div>

    </div>
</div>

