
<!-- Reactive Form -->
   <app-reactive-form></app-reactive-form><hr>    


<!-- lazy loading-->
  <!-- <app-lazyloading></app-lazyloading>  <hr>  -->

 <!--Pipe-->
       <!-- <app-pipe></app-pipe>     <hr>   -->

 <!-- guard-->
    <!-- <app-guard></app-guard>     -->
<!-- 
   <app-template-dform></app-template-dform> -->
 


<!-- s


 <h1>Show List from API Data in Angular</h1>
<table border='1'>
  <tr>
    
    <td>id</td>
    <td>Title</td>
    <td>User Id</td>
  </tr>
  <tr *ngFor="let item of data">
    <td>{{item.id}}</td>
    <td>{{item.title}}</td>
    <td>{{item.User Id}}</td>
  </tr>
</table> -->  



<!-- <p>custome directive in angular</p>

<h1 appCustomeStyle>custom Heading</h1>
<h1>Normal Heading</h1>
 -->


  


 
<!-- <h1> Pass Data parent to child com.</h1> -->
<!-- <app-mycomponent [hero]=" data"></app-mycomponent> -->
<!-- <app-mycomponent hero= {{data}}></app-mycomponent> -->

<!--   // reusbale component   <div *ngFor = "let data of users"> 
 <app-mycomponent hero= {{data}}></app-mycomponent>
</div>  // array type of data -->


<!-- 
 <h1> pass data child to parent</h1>
 <app-mycomponent (parentcomponent)="parentcomponent($event)"></app-mycomponent> -->



