
<!-- heading -->
<h1>User Information</h1>

<!-- table -->
<table class="table table-bordered table-hover">
  <thead class="table-warning">
    <tr id="parent">
      <th colspan="4">Date</th>
      <th rowspan="2"id="mdl">Participants</th>
      <th colspan="3">Food</th>
      <th rowspan="2" id="mdl">Is Contact Information ?</th>
      <th colspan="2">Full Name</th>
      <th rowspan="2" id="mdl">E-mail</th>
      <th colspan="2">Phone</th>
      <th rowspan="2" id="mdl">Additional Request</th>
    </tr>
    <tr id="child">
      <th>Month</th>
      <th>Day</th>
      <th>Year</th>
      <th>Time</th>
      <th>Breakfast</th>
      <th>Lunch</th>
      <th>Dinner</th>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Code</th>
      <th>Number</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let tx of data;">
      <td>{{tx.cruis.date | date: 'MMMM'}}</td>
      <td>{{tx.cruis.date | date: 'dd'}}</td>
      <td>{{tx.cruis.date | date: 'yyyy'}}</td>
      <td>{{tx.cruis.date | date: 'shortTime'}}</td>
      <td>{{tx.cruis.participants}}</td>
      <td>{{tx.cruis.food.breakfast}}</td>
      <td>{{tx.cruis.food.lunch}}</td>
      <td>{{tx.cruis.food.dinner}}</td>
      <td>{{tx.cruis.chooseOption}}</td>
      <td>{{tx.contactInformation.fullName.firstName}}</td>
      <td>{{tx.contactInformation.fullName.lastName}}</td>
      <td>{{tx.contactInformation.email}}</td>
      <td>{{tx.contactInformation.phone.code}}</td>
      <td>{{tx.contactInformation.phone.number}}</td>
      <td>{{tx.contactInformation.additionalRequests}}</td>
    </tr>
  </tbody>
</table>